.container-form{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.404) 0px 54px 55px;

    @media screen and (max-width: 768px) {
        // margin: 20px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

.card{
    background: transparent;
    border: none;
}

.nav-tabs{
    border: none;
    background-color: transparent;

    & .nav-item{
        margin: 0;
        background-color: transparent;

        & .nav-link{
            color: $light-purple;
            background-color: transparent;
            border: none;

            &.active{
                color: $white;
                border-bottom: 2px solid $cream;
            }
        }
    }
}

input[type='email'], 
input[type='text'], 
input[type='password']{
    outline: none;
    padding-left: 5px;
    padding-right: 0;
    background-color: transparent;
    color: $white;
    letter-spacing: 1px;
    font-weight: 500;

    &:focus{
        background-color: transparent;
        border: none;
        color: $white;
        letter-spacing: 1px;
        box-shadow: none;
    }

    &::placeholder{
        color: $white;
    }
}

label{
    color: $secondary-color;
}

.form{

    &-group{
        background-color: $light-purple;
        border-left: 2px solid $cream;
        padding: 10px;
    }

    &-control{
        background-color: transparent;
        border: none;

        &:focus{
            border: none;
        }
    }
    
}

.custom-control-label{
    color: $white;
}

.pass-forget{

    & a{
        color: $light-purple;
    }
}
